* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #f6f7f8;
    --primary: #ffb20d;
    --secondary: #ece0c8;
    --accent: #b139cf;
    --bg: #21252b;
    --bg-alt: #282c34;
    --border: #ffb20d;
}

body {
    font-family: "Space Grotesk ", sans-serif;
    line-height: 1.6;
    color: var(--text);
    background-color: var(--bg);
    min-height: 100vh;
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*
############## LANDING VIEW ##############
*/

#hero-section {
    height: 100vh;
    z-index: 1000;
    position: relative;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

#hero-container {
    position: relative;
    align-self: center;
    height: auto;
    margin: 0 auto;
    font-size: 2.5rem;
}

#hero-text {
    font-size: 2.5rem;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-flow: column wrap;
    text-shadow: 2px 1px 8px #f6f7f880;
    margin-bottom: 25px;
}

#hero-button {
    color: var(--text);
    background: var(--bg-alt);
    font-size: 1rem;
    margin-top: 0 auto;
    height: 50px;
    width: 200px;
    padding: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
    position: relative;
    text-shadow: #ece0c8 2px 1px 8px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#hero-button::after, #hero-button::before {
    content: '';
    height: 100%;
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    background-image: conic-gradient(from var(--angle),
        var(--primary),
        var(--accent),
        var(--primary),
        var(--accent),
        var(--primary)
    );
    border-radius: 5px;
    z-index: -1;
    padding: 3px;
    animation: 3s spin cubic-bezier(.86,.12,.13,.89) infinite;
}
#hero-button:hover::after, #hero-button:hover::before {
    animation: 1s spin cubic-bezier(.86,.12,.13,.89) infinite;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
    
}

#hero-button:hover::before {
    filter:blur(1.2rem);
    opacity: 0.5;
}
#hero-button::before {
    filter:blur(1rem);
    opacity: 0.3;
}

#hero-button:focus {
    outline: none;
}

/*
############## NAVIGATION ##############
*/

nav {
    height: 50px;
    position: sticky;
    z-index: 1000;
    background-color: var(--bg-alt);
    opacity: 0.95;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--accent);
}

/*
############## SECTION ##############
*/

.section {
    padding: 5vh 10vw;
    transition: transform 0.3s ease;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--text);
    position: relative;
    display: inline-block;
}

.section h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--primary), var(--accent));
    border-radius: 3px;
}

.section-flex {
    display: flex;
    flex-flow: row wrap;
}
/*
############## PROFILE ##############
*/

#profile-section {
    position: relative;
    scroll-margin-top: 50px;
}
#profile-section .profile {
    text-align: center;
    gap: 15px;
    padding: 50px;
}

#profile-section .profile-details, #profile-section .profile-skills {
    align-items: center;
    justify-content: center;
}

#profile-section .profile-details {
    flex: 3;
    padding: 15px;
    text-align: left;
}

#profile-section .profile-skills {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 6px;
    justify-items: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    padding: 15px;
}

#profile-section h1 {
    font-size: 1.75rem;
    margin-bottom: 5px;
    color: var(--primary);
}

#profile-section .subtitle {
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#profile-section .description {
    font-size: 1.1rem;
    max-width: 600px;
}

#profile-section .contact-links {
    margin-top: 15px;
}

.profile-skills .skill {
    color: var(--text);
    background: var(--bg-alt);
    border-radius: 5px;
    font-size: 1rem;
    width: 100px;
    position: relative;
    padding: 10px;
}

.profile-skills .skill img {
    width: 80px;
    border-radius: 10px;
}

.profile-skills .skill::after, .profile-skills .skill::before {
    content: '';
    height: 100%;
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    background-image: conic-gradient(
        var(--primary),
        var(--accent),
        var(--primary)
    );
    border-radius: 5px;
    z-index: -1;
    padding: 2px;
}
.profile-skills .skill::before {
    filter: blur(0.5rem);
    opacity: 0.5;
}


/*
############## PROJECTS ##############
*/


.projects {
    display: flex;
    flex-flow: column;
    position: relative;
}

.project-item {
    padding: 2rem;
    margin-bottom: 1.5rem;
    align-items: stretch;
    gap: 30px;
    height: 500px;
    position: relative;
}

@property --line-angle {
    syntax: "<line-angle>";
    initial-value: 0deg;
    inherits: false;
}
.project-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 80%;
    height: 4px;
    background: linear-gradient(45deg, var(--primary), var(--accent), var(--primary), var(--accent));
	background-size: 200% 200%;
    animation: 3s line-spin ease infinite;
    border-radius: 1px;
}
@keyframes line-spin {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.project-description {
    flex: 3;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 15px;
}

.project-image {
    display: flex;
    flex: 4;
    align-items: center;
    transition: all 500ms ease;
    padding: 15px;
}
.project-image:hover {
    transform: scale(1.05);
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-alt);
    filter: drop-shadow(6px 6px 0px var(--primary));
    border-radius: 15px;
}
.slideshow-container button {
    position: absolute;
    outline: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--text);
    text-shadow: black 0px 0px 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slideshow-container button.left-arrow {
    left:10px;
    top:40%;
}

.slideshow-container button.left-arrow:hover {
    transform: scale(1.3) rotate(1turn);
}

.slideshow-container button.right-arrow {
    right:10px;
    top:40%;
}
.slideshow-container button.right-arrow:hover {
    transform: scale(1.3) rotate(-1turn);
}

.slide-show-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    align-content: center;
    text-align: center;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-content: center;
    text-align: center;
}

.slide:first-child {
    display: block;
}

.project-image img {
    max-height: 400px;
    max-width: 100%;
    height: auto;
}

.project-item h3 {
    color: var(--primary);
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.project-links {
    margin-top: 1rem;
}

.contact-link,
.project-link {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--text);
    border-radius: 25px;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    font-weight: 700;
    text-decoration: none;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contact-link:hover,
.project-link:hover {
    color: var(--bg);
}

.contact-link::after,
.project-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
    background: var(--accent);
    transition: all 0.3s ease;
}

.contact-link:hover::after,
.project-link:hover::after {
    height: 100%;
    transition: height 0.3s ease;
    z-index: -1;
}

.reverse-row {
    flex-flow: row-reverse wrap;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .profile h1 {
        font-size: 2rem;
    }

    .profile .subtitle {
        font-size: 1.2rem;
    }

    .section {
        padding: 5vh 4vw;
    }

    .section h2 {
        font-size: 2rem;
    }

    .contact-links {
        flex-direction: column;
        align-items: center;
    }
    .section-flex {
        flex-flow: column wrap;
    }

    .project-item {
        height: 650px;
    }


}

.monospace {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.hidden-animated {
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.hidden {
    display: none;
}